body {
    background-color: black;
}

.login_section {
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 400px;
}





.login_ {
    line-height: 30px;
    background-color: rgba(0, 75, 214, 0.8);
    border: none;
    border-radius: 30px;
    outline: none;
    width: 70%;
    margin: auto;
    color: White;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all;
    transition-duration: 1s;
}

.login_:hover{
    background-color: rgb(3, 9, 175);
    cursor: pointer;
}

.form_section {
    padding: 1mm;
    text-align: center;
    background-color: aliceblue;
    border-radius: 15px;
    width: 50%;
    margin: auto;
}
.head h1 {
    padding-top: 0.5em;
    padding-bottom: 0.8em;
    border-bottom: 2px solid grey;
    width: 100%;
}
.form_section label {
    position: absolute;
    padding-left: 1em;
}
.form_section input{
    margin: 0.5em;
}
.form_section input[type="text"],
.form_section input[type="password"] {
    position: relative;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(7, 0, 41);
    width: 70%;
    outline: none;
    
}

.form_section input[type="text"]:focus{
    transform: translateY(-50%);
}